{
    "api_key": "",
    "secret_key": "",
    "records": [
        {
            "domain": "domain01",
            "subdomains": ["sub01", "sub02", "sub03"],
            "update_root": true
        },
        {
            "domain": "domain02",
            "subdomains": ["sub01", "sub02"],
            "update_root": false
        }
    ]
    
}